*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: rgb(67, 5, 124);
}

div.formulario{
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: white;
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form input {
    padding: 10px;
    border: 1px solid rgb(67, 5, 124);
    border-radius: 10px;
    margin-top: 10px;
}

form select {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(212, 210, 210);
}

.nome{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.capitais{
    display: flex;
    flex-direction: right;
}




